language: php
php:
  - 8.0
env:
  global:
    - XDEBUG_MODE=coverage
services:
  - mysql
  - postgresql
install:
  - /home/travis/.phpenv/versions/8.0/bin/composer install
  - phpenv rehash
before_script:
  - mkdir -p build/logs
  - mysql -e 'create database testing_db;'
  - psql -c 'create database testing_db;' -U postgres
script:
  - vendor/bin/phpcs
  - XDEBUG_MODE=coverage vendor/bin/phpunit --coverage-clover build/logs/clover.xml
  - php vendor/bin/php-coveralls -v
