<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  backupGlobals="false" 
  colors="true" 
  processIsolation="false" 
  stopOnFailure="false" 
  bootstrap="test/bootstrap.php" 
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd" 
  cacheDirectory=".phpunit.cache" 
  backupStaticProperties="false"
>
  <testsuites>
    <testsuite name="Storm Factory Tests">
      <file>test/SqlFactoryTest.php</file>
      <file>test/SqlExceptionTest.php</file>
    </testsuite>
    <testsuite name="Storm Query Tests">
      <file>test/Query/AbstractQueryTest.php</file>
      <file>test/Query/DeleteTest.php</file>
      <file>test/Query/InsertTest.php</file>
      <file>test/Query/SelectTest.php</file>
      <file>test/Query/UpdateTest.php</file>
      <file>test/Query/MySql/AlterTest.php</file>
      <file>test/Query/MySql/CreateTest.php</file>
      <file>test/Query/MySql/UtilityTest.php</file>
      <file>test/Query/PostGreSql/AlterTest.php</file>
      <file>test/Query/PostGreSql/CreateTest.php</file>
      <file>test/Query/PostGreSql/DeleteTest.php</file>
      <file>test/Query/PostGreSql/InsertTest.php</file>
      <file>test/Query/PostGreSql/SelectTest.php</file>
      <file>test/Query/PostGreSql/UpdateTest.php</file>
      <file>test/Query/PostGreSql/UtilityTest.php</file>
      <file>test/Query/Sqlite/AlterTest.php</file>
      <file>test/Query/Sqlite/CreateTest.php</file>
      <file>test/Query/Sqlite/UtilityTest.php</file>
    </testsuite>
    <testsuite name="Storm Mapper Tests">
      <file>test/Mapper/ModelTest.php</file>
      <file>test/Mapper/SearchTest.php</file>
      <file>test/Mapper/CollectionTest.php</file>
      <file>test/Mapper/RemoveTest.php</file>
    </testsuite>
    <testsuite name="Storm Engine Tests">
      <file>test/Engine/AbstractEngineTest.php</file>
      <file>test/Engine/MySqlTest.php</file>
      <file>test/Engine/PostGreSqlTest.php</file>
      <!--<file>test/Engine/Sqlite.php</file>-->
    </testsuite>
  </testsuites>
  <coverage pathCoverage="true"/>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <directory>./vendor</directory>
      <directory>./test</directory>
    </exclude>
  </source>
</phpunit>
